<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'onlinecourse/course.css' %}">
</head>
<body>
    <form action="{% url 'onlinecourse:registration' %}" method="post">
        <div class="container">
          <h1>Sign Up</h1>
          <hr>
          <!-- HINT, added inputs for username, firstname, lastname, and password  -->
          <div>
              {% csrf_token %}
              <button class="button" type="submit">Sign Up</button>
          </div>
        </div>
      </form>
</body>
</html>